.photo-grid {
    max-width: 1184px;
    margin: 0 auto;
    padding: 90px 0 0 0;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(4, 284px);
    row-gap: 16px;
    column-gap: 16px;
}

@media (min-width: 950px) and (max-width: 1220px) {
    .photo-grid {
        max-width: 928px;
        grid-template-columns: repeat(3, 300px);
        row-gap: 14px;
        column-gap: 14px;
    }
}

@media (max-width: 950px) {
    .photo-grid {
        max-width: 720px;
        grid-template-columns: repeat(2, 352px);
        padding: 88px 0 0 0;
    }
}

@media (max-width: 674px) {
    .photo-grid {
        max-width: 288px;
        grid-template-columns: 288px;
        row-gap: 12px;
        padding: 64px 0 0 0;
    }
}