.places {
    max-width: 984px;     
    margin: 0 auto;
    padding-top: 92px
}

@media (min-width: 768px) and (max-width: 1024px) {
    .places {
        max-width: 928px;  
    }  
}

@media (min-width: 425px) and (max-width: 912px) {
    .places {
        max-width: 720px;  
    }
}

@media (max-width: 737px) {
    .places {
        max-width: 320px;
        padding-top: 64px
    }
}