.place__image {    
    max-height: 460px;   
}

@media (min-width: 768px) and (max-width: 1024px) {
   .place__image {    
        max-height: 440px;   
    }    
}

@media (min-width: 425px) and (max-width: 912px) {
    .place__image {    
        max-height: 340px;   
    }
}

@media (max-width: 737px) {
   .place__image {    
        max-height: 320px;   
    }
}