.lead {
    max-width: 984px;
    margin: 0 auto;
    padding-top: 56px;    
}

@media (max-width: 1220px) {
    .lead {
        max-width: 928px;
        padding-top: 48px;
    }
}

@media (min-width: 768px) and (max-width: 950px)  {
    .lead {
        max-width: 768px;
    } 
}