.cover__subtitle {
    color: white;
    margin: 0 auto;
    padding-top: 32px;
    max-width: 360px;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.2;
    position: relative;
    z-index: 2;
}

@media (max-width: 495px) {
  .cover__subtitle {
        padding: 16px 30px 0;
        max-width: 288px;
        font-size: 14px;
        line-height: 1.14;
    }
} 