.photo-grid__item {
    min-width: 284px;
}

@media (min-width: 950px) and (max-width: 1220px) {
    .photo-grid__item {
        min-width: 300px;
    }
}

@media (max-width: 950px) {
   .photo-grid__item {
        max-width: 352px;
    }
}

@media (max-width: 674px) {
    .photo-grid__item {
        min-width: 288px;
    }
}