.header {
    max-width: 1184px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding-top: 28px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .header {
        max-width: 928px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .header {        
        padding-top: 28px;
        box-sizing: border-box;        
    }
}

@media (min-width: 425px) and (max-width: 768px) {
    .header {
        max-width: 768px;
        padding: 28px 16px 0;
    }
}

@media (max-width: 425px) {
    .header {
        max-width: 288px;
        padding: 16px 5px 0;
    }
}