.place__text {       
    margin: 0;
    font-weight: normal;
    font-size: 18px;
    line-height: 1.7;
    color: white;
    padding-left: 40px;
}

@media (min-width: 425px) and (max-width: 912px) {
    .place__text {  
        font-size: 16px;
        line-height: 1.63;       
    }
}

@media (max-width: 737px) {
    .place__text {  
        max-width: 288px;
        margin: 0 auto;
        padding: 32px 0 0 16px;        
    }
}