.place__content-left {
    max-width: 460px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 768px) and (max-width: 1024px) {
    .place__content-left {
        max-width: 440px;
    }
}

@media (min-width: 425px) and (max-width: 912px) {
   .place__content-left {
        max-width: 340px;
    }
}

@media (max-width: 737px) {
    .place__content-left {
        max-width: 320px;
    }
}