.lead__title {
    color: white;
    margin: 0;
    font-weight: 900;
    font-size: 96px;
    line-height: 1.04;
    text-align: center;    
}

@media (min-width: 425px) and (max-width: 768px) {
    .lead__title {        
        padding: 0 24px;
    }
}

@media (max-width: 425px) {
    .lead__title {        
        padding: 0 16px;
        font-size: 40px;
        line-height: 1.1;
    }
} 