.footer__links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(5, min-content);
    grid-template-rows: 18px;
    column-gap: 18px;
}

@media (max-width: 425px) {
   .footer__links {
        grid-template-columns: min-content;        
        row-gap: 32px;
    }
}