.lang {
    min-width: 78px;
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

@media (max-width: 425px) {
    .lang {
        min-width: 62px;
    }
}