@font-face {
    src: url(../fonts/bold/Inter-Bold.woff2) format('woff2'),
         url(../fonts/bold/Inter-Bold.woff) format('woff');
    font-family: 'Inter';
    font-weight: bold;
}

@font-face {
    src: url(../fonts/black/Inter-Black.woff2) format('woff2'),
         url(../fonts/black/Inter-Black.woff) format('woff');         ;
         font-family: 'Inter';
         font-weight: 900;     
}

@font-face {
    src: url(../fonts/regular/Inter-Regular.woff2) format('woff2'), 
         url(../fonts/regular/Inter-Regular.woff) format('woff');
    font-family: 'Inter';
    font-weight: normal;
}