.intro {
    max-width: 690px;
    min-height: 428px;
    padding: 90px 0 0 148px;
}

.intro__title {
    color: white;
    font-weight: bold;
    font-size: 54px;
    line-height: 1.07;
    margin: 0;
}

.intro__subtitle {
    color: white;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.6;
    padding: 40px 0 0 0;
    margin: 0;
}

.intro__items {
    color: white;
    list-style: none;
    padding: 32px 0 0 0;
    margin: 0;
}

.intro__item {
    color: white;
    font-weight: bold;
    font-size: 12px;
    line-height: 1.5;
}

@media (max-width: 1220px) {
    .intro {
        padding: 90px 0 0 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        padding: 88px 0 0 24px;
    }
}

@media (max-width: 425px) {
    .intro {
        max-width: 288px;
        padding: 64px 0 0 16px;
    }

    .intro__title {
        font-size: 32px;
        line-height: 1.09;
    }    
}

