.intro {
    max-width: 690px;
    min-height: 428px;
    padding: 90px 0 0 148px;
}

@media (max-width: 1220px) {
    .intro {
        padding: 90px 0 0 48px;
    }
}

@media (max-width: 768px) {
    .intro {
        padding: 88px 0 0 24px;
    }
}

@media (max-width: 425px) {
    .intro {
        max-width: 288px;
        padding: 64px 0 0 16px;
    }   
}

