.cover__overlay {
    max-width: 1184px;
    min-height: 740px;
    background-color: rgba(38, 57, 87, 0.3);
    transition: background-color 1s; 
}

.cover__overlay:hover {
    background-color: rgba(38, 57, 87, 0.8);
}

@media (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;
        min-height: 640px; 
    }
}

@media (max-width: 768px) {
    .cover__overlay {
        max-width: 768px;
        min-height: 480px; 
    }
}

@media (max-width: 497px) {
    .cover__overlay {
        max-width: 320px;
        min-height: 200px;
    }
} 