.cover__overlay {   
    max-width: 1184px;
    width: 100%;
    min-height: 740px; 
    text-decoration: none;
    cursor: pointer;
    position: relative;    
}

@media (max-width: 1024px) {
    .cover__overlay {
        max-width: 1024px;       
    }
}

@media (max-width: 768px) {
    .cover__overlay {
        max-width: 768px;       
    }
}

@media (max-width: 497px) {
    .cover__overlay {
        max-width: 320px;        
    }
}