.lead__caption {
    color: white;
    margin: 0;
    padding-top: 8px;
    font-weight: normal;
    font-size: 10px;
    line-height: 1.4;
    max-width: 159px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
}

@media (min-width: 425px) and (max-width: 768px) {
    .lead__caption {
        padding-left: 24px;
    }
    
}

@media (max-width: 425px) {
    .lead__caption {
        padding-left: 16px;
    }
} 