.cover__title {
    color: white;
    margin: 0 auto;
    padding-top: 245px;
    max-width: 560px;
    font-weight: 900;
    font-size: 72px;
    line-height: 1.05;
    text-align: center;
}

@media (max-width: 1024px) {
    .cover__title {        
        padding-top: 195px;
    }
}

@media (max-width: 768px) {
    .cover__title {        
        padding-top: 115px;
        font-size: 32px;
        line-height: 1.09;
    }
}

@media (max-width: 497px) {
    .cover__title {
        max-width: 288px;   
        padding: 33px 35px 0;        
    }
} 