.place {
    max-width: 984px;
    color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;    
}

@media (min-width: 768px) and (max-width: 1024px) {
    .place {
        max-width: 928px;
        /*max-height: 644px;*/
    }  
}

@media (min-width: 425px) and (max-width: 912px) {
    .place {
        max-width: 720px;
        padding-left: 24px;     
    }
}

@media (max-width: 737px) {
    .place {
        max-width: 320px;             
        flex-wrap: wrap;
    }
}