.footer {
    max-width: 1184px;    
    margin: 0 auto;
    padding: 92px 0 24px;
    color: white;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .footer {
        max-width: 928px;
    }
}

@media (max-width: 768px) {
    .footer {
        max-width: 720px;
        padding: 92px 5px 24px;        
    }
}

@media (max-width: 690px) {
    .footer {        
        padding: 88px 5px 24px;
        flex-direction: column;      
    }
}

@media (max-width: 482px) {
    .footer {
        max-width: 186px;        
        margin: 0;
        padding: 64px 0 24px 30px;
    }
}